/* CSS Document */

/* colors
Black: #000000
Cream white: #fffede
white: #ffffff
*/

.logo {
	background: #000000;
}

.logo img {
	width: 200px;
}

nav {
	background: #000000;
}

.nav-link {
	color: #fffede;
}

.navbar-brand {
	color: #fffede;
}

.btn-outline-success {
	color: #fffede;
}