/* CSS Document */

/* colors
Black: #000000
Cream white: #fffede
white: #ffffff
dark red: #D31619
*/

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.logo {
	background: #000000;
}

.logo img {
	width: 200px;
}

nav {
	background: #000000;
}

.nav-link {
	color: #fffede;
}

.nav-link:hover {
	color: #D31619;
}

.navbar-brand {
	color: #fffede;
}

.navbar-brand:hover {
	color:#D31619;
}

.btn-outline-success {
	color: #fffede;
}

.navbar-toggler-icon {
	background-image: url("../images/menu.png");
}

.carousel {
	width: 1000px;
	margin: auto;
}